@syntax-accent:     hsl(342, 100%, 68%);
@hue-5:             hsl(342, 74%, 69%);
@highlight:         hsla(@syntax-hue, 50%, 40%, 0.4);
@syntax-hue:        218;
@syntax-saturation: 35%;
@fontFamily:        "Inconsolata";
@fontFamily2:       "flottflott";
@fontSize:          15.5px;
@fontWeight:        400;

atom-text-editor {
  font-weight: @fontWeight;
  font-size:   @fontSize;
}
.tree-view .project-root > .list-tree {
  margin-left: -10px;
}
[with-minimap]:not(.is-focused) .cursor {
  opacity: 0.8 !important;
  border:  1px solid @syntax-accent !important;
}
atom-text-editor {
  .is-focused .cursor {
      opacity: 1 !important;
  }
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--html,
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-element.syntax--css,
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css,
  .syntax--source.syntax--js.syntax--jsx > .syntax--keyword.syntax--control.syntax--flow.syntax--js,
  .syntax--storage,
  .syntax--type .syntax--function {
    padding-right:  1px;
    font-family:    @fontFamily2;
    font-size:      1.44em;
    line-height:    1rem;
    font-weight:    400;
    vertical-align: baseline;
    height:         inherit;
  }
  .syntax--source.syntax--js.syntax--jsx > .syntax--keyword.syntax--control.syntax--flow.syntax--js,
  .syntax--storage,
  .syntax--type .syntax--function {
    font-size: 1.8em;
    color: white;
    text-shadow: 1px 1px 0px #FC2B2B;
  }

  .syntax--keyword.syntax--control.syntax--export.syntax--ts {
    font-size: 1em;
    letter-spacing: 3px;
    color: #b18bb1;
  }

  .syntax--keyword.syntax--control.syntax--export.syntax--ts:after {
      // background-image: url('http://vignette2.wikia.nocookie.net/thefakegees/images/6/61/Nyan_Cat_Emoticon.gif/revision/latest?cb=20130117231130');
      background-image: url('https://s-media-cache-ak0.pinimg.com/originals/7e/1f/59/7e1f59824f6c0e7c34815d340b538646.gif');
      background-size: 30px 23px;
      display: inline-block;
      width: 30px;
      height: 23px;
      content:"";
      line-height: 2em;
      vertical-align: middle;
      margin-left: 0px;
      margin-right: -5px;
      text-indent: -9999px;
  }

  span.syntax--meta.syntax--export.syntax--js .syntax--keyword.syntax--control.syntax--js:after {
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/7e/1f/59/7e1f59824f6c0e7c34815d340b538646.gif');
    background-size: 30px 23px;
    display: inline-block;
    width: 30px;
    height: 23px;
    content:"";
    line-height: 2em;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: -5px;
    text-indent: -9999px;
  }

  .syntax--punctuation.syntax--definition.syntax--entity.syntax--css,
  .syntax--arrow.syntax--js {
    font-family: @fontFamily;
    font-size:   @fontSize;
    font-weight: @fontWeight;
  }
  .highlight-selected .region {
    border:        none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid @syntax-accent !important;
  }
  atom-text-editor-minimap .minimap-visible-area::after {
    background-color: hsla(@syntax-hue, @syntax-saturation, 50%, 0.15);
  }
}
.minimap .cursor-line {
  background: hsla(@syntax-hue, 60%, 70%, 0.5);
}
.linter-highlight.status-success {
  color: #20b684;
}
